@import "./variables.scss";

.gameBoard_container {
  @include flexContainer(column);
  margin: 15px auto;
  margin-top: 80px;
  justify-content: flex-start;
  width: 90%;
  gap: 5px;
}

.gameBoard_active {
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 0.75rem;
  margin-top: 5px;
  margin-bottom: 60px;
}

::-webkit-scrollbar {
  display: none;
}
