@import "./variables.scss";

.header_container {
  width: 100vw;
  height: 80px;
  background-color: $bg;
  color: #fff;
  @include flexContainer(row);
  position: fixed;
  top: 0;
  border-bottom: 1px solid #ddd;
}
