@import "./variables.scss";

.row_container {
  @include flexContainer(row);
  gap: 5px;
}

.row_square {
  @include flexContainer(row);
  min-width: 50px;
  min-height: 50px;
  background-color: #555;
  border-radius: 5px;
}

.row_circle {
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  border: 2px solid #000;
}

.row_check {
  @include flexContainer(row);
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 50px;
  height: 50px;
  background-color: #555;
  border-radius: 5px;
  margin-left: 1rem;
}

.marker {
  min-width: 15px;
  min-height: 15px;
  border-radius: 50%;
  margin: 3px;
}
